body{
  background-color: #23252C;
  color: #F5F5F5;
  font-family: "Google Sans", sans-serif;
  padding: 2em;
}

h2{
  margin: 0;
}

p{
  margin: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

.portfolio a:visited{
  color: violet;
}

.portfolio a:hover{
  color: pink;
}


#root{
  margin: 0 auto;
  max-width: 317px;
  border-radius: 1em;
  background-color: #1A1B21;
}

.image{
  background-image: url('./assets/image.png');
  background-size: cover;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  height: 23em;
  border: none;
}

.info, .about, .interest{
  padding: 0em 2em;

}

.about p, .interest p{
  font-size: 0.9em;
  font-weight: lighter;
  color: #DCDCDC;
}

.interest p{
  margin-bottom: 3em;
}

.about h3, .interest h3{
  margin-top: 1em;
  margin-bottom: 0.3em;
  font-weight: bolder;
}

.info{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.profession{
  color: #F3BF99;
}

.name, .profession, .portfolio{
  margin-bottom: 0.3em;
}

.btn{
  display: flex;
  margin: 1em 0 0.9em 0;
  justify-content: space-around;
}

a{
  padding:  10px 20px;
  border-radius: 8px;
  border: none;
  font-weight: lighter;
}

.left{
  background-color: #F5F5F5;
  color: black;
}

.right{
  background-color: #5093E2;
  color: white;
}

footer{
  background-color: #161619;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 2em;
}

footer i{
  color: #918E9B;
}

.icons{
  margin-left: 2em;
  display: flex;
  justify-content: space-between;
}
